* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7f8fa;
  }
  
  /* -----------Navlist-------- */
  .navlist {
    background-color: #f37171;
    padding: 15px;
    margin-top: 10px;
    height: 70px;
  }
  
  /* Navlist popup Button --> open when Click */
  .open-popup {
    border-radius: 20px;
    text-align: center;
    
    float: right;
    margin-right: 200px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #6cf3da;
  }
  .menubar{
    background-color: #c5c6ff;
    border-radius: 2px;
    width: 200px;
    height: 30px;
  }
  .menubox{
    height: 20px;
    width: 50px;
    border:  1px solid black;
  }
  
  /* Close Button --> for Closing popup */
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    border: none;
    color: white;
    background: transparent;
    font-size: 1.2em;
  }
  
  /* Modal container --> Making it Hidden and Visible */
  
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-color: #e28080;
    box-shadow: 2px 3px 3px #817e7e;
    visibility: hidden;
    z-index: -1;
  }
  
  .active {
    visibility: visible;
    z-index: 1;
  }
  
  /* Modal Part */
  .modal-part {
    display: flex;
  }
  
  .text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 400px;
  }
  
  .color-area {
    background-color: #f4d5e9;
    padding: 50px;
    width: 30%;
    height: 400px;
  }
  
  #msg {
    width: 100%;
    padding: 50px;
    font-size: 2em;
    font-weight: 600;
    color: #eee;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .btn {
    position: absolute;
    bottom: 20px;
    padding: 8px 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #67bce4;
    border-radius: 20px;
    box-shadow: 0 0 5px #282829;
    cursor: pointer;
  }
  
  /* Color Area */
  
  .box {
      text-align: center;
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .red-box {
    background-color: red;
    color:red;
  }
  .yellow-box {
    background-color: yellow;
    color:yellow;
  }
  .blue-box {
    background-color: blue;
    color:blue;
  }
  .black-box {
    background-color: black;
    color:black;
  }
  
  /*------------------- Main Area--------------------------*/
  
  .main{
      margin:50px;
  }
  
  .main-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  .task{
    position: relative;
      height: 200px;
      width: 300px;
      margin:10px;
      background-color: #c5c6ff;
      box-shadow: 1px 1px 3px #3c3c3c;
  }
  
  .task h1{
    text-align: center;
    padding: 10px;
  }
  
   .icons{
    position: absolute;
    bottom: 0;
    height:35px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  } 
  
   .icon-set .fa-solid{
    margin-left:20px;
    cursor: pointer;
  }
  
  .icons .fa-solid{
    margin-right: 10px;
    cursor: pointer;
  } 